{% extends 'app.twig' %}
{% block head %}
    <link href="/public/css/auth.css" rel="stylesheet">
{% endblock %}
{% block content %}
<body class="bg-gray-400">
        <!-- Container -->
        <div class="container mx-auto">
            <div class="flex justify-center px-6 my-12">
                <!-- Row -->
                <div class="w-full xl:w-3/4 lg:w-11/12 flex shadow-xl">
                    <!-- Col -->
                    <div
                        class="w-full h-auto bg-gray-400 hidden lg:block lg:w-1/2 bg-cover rounded-l-lg"
                        style="background-image: url('https://source.unsplash.com/NyqhLE3woFY/600x800')"
                    ></div>
                    <!-- Col -->
                    <div class="w-full lg:w-1/2 bg-white p-10 rounded-lg lg:rounded-l-none content text-white">
                        <h1 class="text-2xl">Siggi</h1>
                        <p class="text-gray-500 uppercase text-sm" >Name</p>
                        <h1 class="text-2xl mt-5">siggi#4576</h1>
                        <p class="text-gray-500 uppercase text-sm" >Discord Benutzername</p>
                        <h1 class="text-2xl mt-5">Ferrari</h1>
                        <p class="text-gray-500 uppercase text-sm" >Zugewiesenes Team</p>
                        <h1 class="text-2xl mt-5">#87</h1>
                        <p class="text-gray-500 uppercase text-sm" >Fahrernummer (aus F1 Spiel)</p>
                        <a href="{{path_for('auth.me.edit')}}">
                        <button
                            class="mt-10 w-full px-4 py-2 font-bold text-white bg-white rounded-lg text-blue-900 hover:text-white focus:outline-none focus:shadow-outline"
                            type="submit"
                        >
                            Bearbeiten
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}