.container {
    position: relative;
    font-family: "Montserrat";
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}
.driverHeader {
    position: relative;
    overflow: hidden;
    background: #212129;
    background: #262B36;
    padding: 70px 80px;
    z-index: 10;
}
.factTitle {
    color: #7F7F84;
}
.team_logo {
    content: "";
    width: 400px;
    height: 170px;
    background-repeat: no-repeat;
    background-position: center;
}

.factContent {
    color: #BFC1C5;
}
#rectangle{
    position: absolute;
    z-index: 0;
    right: 0;
    content: "";
    transform: translate(300px, -175px) rotate(-40deg);
    width:800px;
    height:450px;
}

.carNumber {
    font-size: 9rem;
    color: white;
    -webkit-text-fill-color: rgba(38, 43, 54,0.2);
    -webkit-text-stroke-width: 3px;
}

th {
    color: #BFC1C5;
}
h2 {
    color: #262B36;
    border-color: #262B36;
}
.race_results {

}