{% extends 'app.twig' %}
{% block head %}
    <!-- <link href="{{ asset('auth.css', 'css') }}" rel="stylesheet"> -->
{% endblock %}
{% block content %}
<div class="w-full max-w-sm container mx-auto">
  index
</div>
{% endblock %}