{% extends 'app.twig' %}
{% block head %}
    <!-- <link href="{{ asset('auth.css', 'css') }}" rel="stylesheet"> -->
{% endblock %}
{% block content %}
<div class="w-full container max-w-lg mx-auto ">
	<div class="w-full shadow-lg rounded-lg">
	  <div class="bg-white px-8 pt-6 pb-8 mb-4">
	  	<h2 class="text-xl text-center font-bold border-b-2 pb-4">Admin Tool</h2>
	    <div class="flex flex-wrap items-center justify-between">
	    	<p class="pt-6 uppercase text-gray-500">Allgemein</p>
			<button class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-5">
	  			Fahrer hinzufügen
			</button>
			<a class="text-center w-full bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded mt-5" href="{{ path_for('admin.recalculateStandings') }}">
				<button class="font-bold">
  					WM Stand neu berechnen
  				</button>
  			</a>
			<p class="pt-6 uppercase text-gray-500">Events</p>	
			<a class="text-center w-full bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded mt-5" href="{{ path_for('admin.addEvent') }}">
				<button class="font-bold">
  					Event hinzufügen
  				</button>
  			</a>
  			<a class="text-center w-full bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded mt-5" href="{{ path_for('admin.deleteEventResults.index') }}">
				<button class="font-bold">
		  			Ergebnisse löschen
				</button>
			</a>
			<button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5">
	  			Event bearbeiten
			</button>
			<p class="pt-6 uppercase text-gray-500">Sessions</p>
			<button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5">
	  			Strafen bearbeiten
			</button>
			<button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5">
	  			Session bearbeiten
			</button>
	    </div>
	  </div>
	</div>
</div>
{% endblock %}