{% extends 'app.twig' %}
{% block head %}
    <link href="{{ asset('races_show.css', 'css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container mx-auto mb-10">
        <div class="driverHeader w-full rounded-t-lg shadow-2xl bg-contain flex flex-col" :style="cssVars">
            <div class="topLine flex justify-between w-full items-center">
                <h2 class="font-bold text-center text-3xl sm:text-4xl md:text-5xl text-white">
                    Regeln
                </h2>
            </div>
        </div>
        <div class="driverContent p-5 md:p-20 bg-white shadow-2xl tracking-wider">
            <h2 class="race_results pl-5 text-xl md:text-2xl font-bold mt-5 md:mt-0 mb-8 pb-3 md:pl-10 border-b-2 border-l-2 border-gray-300 rounded-bl-lg">Rennevent</h2>
            Jedes reguläre Rennevent besteht aus 3 Abschnitten:
            <ol class="list-decimal">
                <li class="ml-20 my-5">One-Shot Qualifying</li>
                <li class="ml-20 my-5">Sprintrennen (25 % Rennen)</li>
                <li class="ml-20 my-5">Hauptrennen (50 % Rennen)</li>
            </ol> 
            <div class="mt-10 flex flex-col">
                <b class="text-xl mb-2">One-Shot Qualifying</b>
                <div class="text-sm uppercase mb-2 text-gray-600">5 Minuten </div>
                <p class="leading-loose ">Das One-Shot Qualifying (OSQ) dient dazu, die Startaufstellung für das Sprintrennen zu finden.</p>
            </div>
            <div class="mt-10 flex flex-col">
                <b class="text-xl mb-2">Sprintrennen</b>
                <div class="text-sm uppercase mb-2 text-gray-600">25 Minuten</div>
                <p class="leading-loose ">Das Sprintrennen ist ein 25% Rennen, dessen Startaufstellung auf Basis des OSQ gebildet wird. Die Punkteverteilung richtet sich nach dem alten Punktesystem der Formel 1 (10, 8, 6, 4, 2, 1). Außerdem erhält der Fahrer mit den meisten Positionszugewinnen im Rennen 2 weitere Punkte. Sollten 2 Fahrer die gleiche Anzahl an Positionen gewonnen haben, erhält der Fahrer, welcher weiter hinten gestartet ist, die Zusatzpunkte. Einen Punkt für die schnellste Runde gibt es nicht.</p>
            </div>
            <div class="mt-10 flex flex-col">
                <b class="text-xl mb-2">Hauptrennen</b>
                <div class="text-sm uppercase mb-2 text-gray-600">45 Minuten</div>
                <p class="leading-loose ">Das Hauptrennen ist ein 50% Rennen, dessen Startaufstellung auf Basis der umgekehrten Tabellenplatzierung gebildet wird. Die Punkteverteilung richtet sich nach dem aktuellen Punktesystem der Formel 1 (25, 18, 15, 12, 10, 8, 6, 4, 2, 1). Außerdem erhält der Fahrer mit der schnellsten Runde innerhalb der Top 10 einen Punkt.</p>
            </div>
        </div>
    </div>
{% endblock %}
